{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>index</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="{%static 'menu/img/shalom_logo.png'%}" width="70" height="50" class="d-inline-block align-top" alt="">
        </a>
        <ul class="nav ml-auto nav-pills">
            <li class="nav-item">
              <a class="nav-link active bg-secondary m-1 p-2" href="#">services</a>
            </li>
            
            <li>
                <a class="nav-link active m-1 bg-secondary p-2" href="#">login</a>
            </li>
          </ul>
      </nav>
      {% block body %}
      {% endblock %}
      <footer>
        <p>@2020 ShalomⒸ</p>
    </footer>
</body>
</html>