@import 'config';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $glitta;
}
.navbar.specific {
    height: 3rem;
    .logo img {
        margin-left: 1rem;
        margin-top: 3px;
        height: 2.8rem;
        width: 4rem;
    }
    .nav_elements {
        button {
            height: 1.5rem;
            width: 4rem;
            background-color: $mauve;
            color: rgb(240, 177, 125);
            font-weight: bold;
        }
    }
}
.top {
    background-color: $mid-red-purp;
    color: white;
    font-size: .5rem;
    text-align: center;
    height: 1rem;
    p {
        margin: auto;
        padding-top: 5px;
    }
    
}
.jumbotron {
    overflow:auto;
    height: 50%vh;
    background-repeat: no-repeat;
    background-size: cover;
     .content {
        margin-top: 4rem;
         color: white;
         h1 {
             text-align: center;
             
         }
         h6 {
            text-align: center;
            font-size: 1rem;
            margin-top: 1rem;
         }
        button{
            width: 20%;
            height: 1.5rem;
            margin: 2rem 40%;
            border: 0px;
            border-radius: 4px;
            background-color: $navy-purp;
             
         }
         button a {
            text-align: center;
            margin: auto;
            text-decoration: none;
            font-size: 0.8rem;
           text-transform: lowercase;
           color: white;
           font-weight: 200;
         }
     }
}