@import 'base.css';
@import 'config';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $glitta;
}
.main {
    display: flex;
    flex-direction: column;
    .container {
        height: 22rem;
        width: 100%;
        .image {
            margin-top: 2rem;
            position: relative;
            height: 14rem;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            img {
                position: absolute;
                height: 100%;
                width: auto;
                vertical-align: middle;     
                    
            }
        }
    }
}