{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'menu/base.css' %}">
    {%block css%}
    {%endblock%}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
<title>Shalom</title>
</head>
<body>
  {% block top_kabisa %}
  {% endblock %}
  <div class="navbar specific">
    <div class="logo">
      <a href="/"><img id="logo_pic" src="{% static 'menu/img/shalom_logo.png' %}" alt=""></a>
    </div>
    <div class="nav_elements">
      <ul>
        <li>
      <form action="." method="post" class="servises">
        <button>servises</button>
      </form>
      </li>
      <li>
      <form action="." method="post" class="booking">
        <button>booking</button>
      </form>
      </li>
      {% if user.is_authenticated %}
      <li>
      <form action="." method="post" class="logout">
        {% csrf_token %}
        <button>logout</button>
      </form>
      </li>
      {% else %}
      <li>
      <form action="." method="post" class="login">
        <button>login</button>
      </form>
      </li>
      <li>
      <form action="." method="post" class="signup">
        <button>signup</button>
      </form>
      </li>
      {% endif %}
      
  </div>
  <nav>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      {% if user.is_authenticated %}
      <li><a href="/a/logout">logout</a></li>
      <li><a href="/m">management</a></li>
      {% else %}
      <!-- <li><a href="a/login">login</a></li>
      <li><a href="a/signup">signup</a></li> -->
      <li><a href="a/aio">aio</a></li>
      
      {% endif %}
    </ul>
  </nav>
  
    {%block jumbo%}
    {%endblock%}
    {%block content%}
    {%endblock%}
    <footer>
        <div class="footer-start">
          <h3>temani business centre.next to coop bank.mathigu rd.ruiru ndani</h3>
          <p></p>
        </div>
        <p id="footer-info">©shalom best foods 2020</p>
    </footer>
    
</body>
<script>
  const hamburger = document.querySelector(".hamburger");
  const navLinks = document.querySelector(".nav-links");
  const links = document.querySelectorAll(".nav-links li");

  hamburger.addEventListener("click", () => {
    navLinks.classList.toggle("open");
    links.forEach(link => {
      link.classList.toggle("fade");
    });
    });
</script>
</html>
