{% extends "menu/base.html" %}
{% load  static %}
{% load sass_tags %}

{%block css%}
<!-- <link rel="stylesheet" type="text/css" href=" {% static 'menu/base.css' %}  "> -->
<!-- <link rel="stylesheet" type="text/css" href="/static/menu/index.scss?{% now "U" %}" /> -->
<link href="{% sass_src 'menu/index.scss' %}" rel="stylesheet" type="text/css" />

{%endblock%}
{% block top_kabisa %}
<div class="top" id="intro">
    <p>TEMANI BUSINESS CENTRE.MATHIGU RD.NEXT TO COOP BANK RUIRU.0722972616</p>
</div>
{% endblock %}

{%block jumbo%}
<div class="jumbotron" style="background-image: url('{% static 'menu/img/githeri.jpg' %}') ;">
    <div class="content">
   <h1>Shalom Best Foods</h1>
   <!-- <img src="{% static 'menu/img/shalom_logo.png' %}" alt=""> -->
   <h6>Come Dine with us!</h6>
   <button type="button" class="purp ">
       <a href="order/">MENU</a>
   </button>
</div> 
</div>
{%endblock%}

{%block content%}
<div class="content-main" >
    <div class="non-bg">
    <div class="card">
        <img src="{% static 'menu/img/meatballs.png' %}" alt="">
        <h1>AMAZING FOOD
        </h1>
        <p>we serve up delicious meals for every pallette both modern and traditional. 
        </p>
    </div>
    <div class="card">
        <img src="{% static 'menu/img/buffet.svg' %}" alt="">
        <h1>CATERING</h1>
        <p>we bring the food directly to your venue. you can customize your menu to your taste .
        </p>
    </div>
    <div class="card">
        <img src="{% static 'menu/img/dining-table.svg' %}" alt="">
        <h1>QUAINT SETTING</h1>
        <p>our restaurant in ruru town is perfect to stop y if you want to grab a bite or hold a meeting or even just have a party.
        </p>
    </div>
</div>
    
</div>
{%endblock%}

