{% extends "menu/base.html" %}
{% load static %}

{% block content %}
<body>
    <div class="flex">
        <div class="container">
            <img src="{%static 'menu/img/chicken.jpg'%}" alt="" />
            <p class="title">Chicken</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/githeri-minji.jpg'%}" alt="" />
            <p class="title">githeri-minji</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/mukimi=o.jpg'%}" alt="" />
            <p class="title">Mukimo</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/mandazi.jpg'%}" alt="" />
            <p class="title">Mandazi</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/beef-pilau.jpg'%}" alt="" />
            <p class="title">beef-pilau</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/chai.jpg'%}" alt="" />
            <p class="title">Tea</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/coffee.jpg'%}" alt="" />
            <p class="title">Coffee</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/pumpkin-chapati.jpg'%}" alt="" />
            <p class="title">Chapati</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/ugali.jpg'%}" alt="" />
            <p class="title">Ugali</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/matumbo.jpeg'%}" alt="" />
            <p class="title">Matumbo</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/matoke.jpg'%}" alt="" />
            <p class="title">Matoke</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
        <div class="container">
            <img src="{%static 'menu/img/githeri.jpg'%}" alt="" />
            <p class="title">Githeri</p>
            <div class="overlay"></div>
            <div class="button"><a href="#"> Order </a></div>
          </div>
    </div>
</body>
{% endblock %}
</html>
