{% extends "menu/base.html" %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" href=" {% sass_src 'menu/orders.scss' %} ">
{% endblock %}
{% block content %}
    <div class="main">
        {% for dish in dishs %}
        <div class="container">
            {% if dish.image %}
            <div class="image">
            <img src="{{ dish.image.url }}">
            </div>
            {% endif %}
            <p>{{dish.item_name}}</p>
            <p>price : ksh{{dish.price}}</p>
            <a href="{% url 'menu:order_with_pk' dish.id %}">order</a>
        </div>
        {% endfor %}
    </div>

    {% endblock %}